-
    let hmenu = [
        {
            name: "Головна",
            href: "/",
        },
        {
            name: "послуги",
            href: "#",
        },
        {
            name: "про компанію",
            href: "#",
        },
        {
            name: "Акції",
            href: "#",
        },
        {
            name: "Партнери",
            href: "#",
        },
        {
            name: "відгуки",
            href: "#",
        },
        {
            name: "Контакти",
            href: "#",
        }
    ]
-
    let planss = [
        {
            href: "#",
            image: {
                src: "img/bike.png",
                alt: "Тур на велосипедах"
            },
            title: "Тур на велосипедах",
            price: "335",
            text: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод."
        },
        {
            href: "#",
            image: {
                src: "img/circle.png",
                alt: "Екскурсія на острів"
            },
            title: "Екскурсія на острів",
            price: "500",
            text: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року ."
        },
        {
            href: "#",
            image: {
                src: "img/personal.png",
                alt: "Особливе замовлення"
            },
            title: "Особливе замовлення",
            price: "250",
            text: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші."
        },
    ]
-
    let infoCarts = [
        {
            bg: {
                src: "img/home.jpg"
            },
            title: "Графік роботи готелів.xls",
            size: "10Mb",
            text: "Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.",
            href: "#"
        },
        {
            bg: {
                src: "img/people.jpg"
            },
            title: "Інформація про харчування.xls",
            size: "10Mb",
            text: "У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.",
            href: "#"
        },
    ]
mixin plansCart(itemss)
    for item in itemss
        a.plans__item.col-12.col-md-6.col-lg-3.position-relative.text-center.mx-auto(href=item.href)
            img.plans__icon(src=item.image.src, alt=item.image.alt)
            p.plans__name= item.title
            span.plans__price= item.price 
                span  грн*
            p.text.plans__desc.text-left.text-black-50= item.text
mixin menu(items)
    nav.menu.header__menu
        ul.header__list.list-unstyled
            for item in items 
                li.header__item 
                    a(href=item.href)= item.name
mixin info(items)
    for item in items 
        div.col-12.col-md-6.col-lg-4.mx-auto
            div.info__card(style=`background-image: url(${item.bg.src})`)
                p.info__name.fs-6.position-relative.text-white=item.title
                p.info__size Розмір файла:
                    span=  item.size
                div.d-flex.flex-column.justify-content-between
                    p.info__text= item.text
                    a.info__btn(href=item.href).position-relative.text-uppercase скачати